.searchbar {
  padding: 10px 0px;
  background-color: transparent;
  color: white;
  text-decoration: none;
  border: 0;
  outline: 0;
  border-bottom: 1px solid white;
  width: 80%;
  font-size: 1.1em;
}

.contentholder {
  margin: 30px;
}

.gradient-rectangle {
  width: 600px; /* Set the width as desired */
  height: 200px; /* Set the height as desired */
  background: linear-gradient(to right, red, blue);
  /* Use placeholders for random colors */
  padding: 30px;
}
