<div class="contentholder">
  <a href="/" class="btn">←</a>
  <h2>BALANCE BRIEF - SEARCH</h2>
  <input
    [(ngModel)]="inputValue"
    (keydown)="onSearch($event)"
    class="searchbar"
    placeholder="Enter search term here..."
    value="{{ searchData }}"
  />
  <br />
  <br />
  <br />
  <a href="#" class="btn">China tries to fight emission standards</a>
  <br /><br />
  <a href="#" class="btn">China and there problem with CO2 emissions</a>
  <br /><br />
  <a href="#" class="btn"
    >Countries in Asia such as China struggle to clean air</a
  >
</div>
